* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .logo{
    font-weight: bold;
   
}

#logo a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-left: auto;
  font-family: 'Nunito', sans-serif;
}

#logo:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

  .header{
    background-color: transparent;
    color:#7a7a7a; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;}

    .header{
        background-color:#c060f87a;
        color:#ffffff;
        height: 7vh;
        position:sticky;
        top: 0;
        z-index:10;
        box-shadow:inset 0 0 0 2000px rgba(92, 100, 187, 0.452);
      }
         body {
        background-image: url('../img/background-wallie.jpg');
  }
  
  
  
  


.terms{
  background-color: bisque;
  text-align: right;
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h2{
      font-size: 3vw;
  }
  .login-text{
      display: none;
  }
  .logo-text{
      display: none;
  }
  #banner{
      height: 400px;
  }
  #search{
      height: 200px;
  }
  .container{
      max-width: 720px;
  }
  .card-banner{
      padding: 0px 75px;
  }
      
 
}


/* CELULARES */
@media screen and (max-width: 767px) {
}
  h2{
      font-size: 3vw;
  }

  .h2-subtitle{
      font-size: 5vw;
  }
  .login-text{
      display: none;
  }
  .logo-text{
      display: none;
  }
  #banner{
      height: 300px;
  }
  #search{
      height: 200px;
  }
  .container{
      max-width: 420px;
  }
  .card-banner{
      padding: 0px 50px;
  }

  .btn-cac{
      font-size: 1vh;
  
}



.card-banner{
  padding: 0px 50px;
}


/* “:root”, es un selector especial
 que se utiliza principalmente 
 para definir variables personalizadas de CSS */
 :root{
  --bg-color:#181419;
  --primary-color:#64646b;
  --secondary-color:#dfdddd;
  --third-color:#416cad4d;
  --third-bis-color:#8151be98;
  --bg-input-color:#4f31572c;
}


/* 1.6	Eliminar la decoración de los 
hipervínculos, agregar color y tamaño de 
fuente a la etiqueta <h2></h2> */
a{
  text-decoration: none;
}

h2{
  color:#FFF;
  font-size: 2vw;
  text-align: center;
  padding-top: 30px;
}

p{
  text-shadow: 1px 1px 1px #222;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
  margin: -25px 0 0 -25px

  
  
  
}  
p2{
  color:#FFF;
  text-align: center
}
h3{
  color:#FFF;
  text-align: center;
  position:fixed;
  top: 40%;
  left: 50%;
  margin: -25px 0 0 -25px
} 
#logo{
  font-weight: bold;
}


/* CSS 2: Unidades de medida. Colores CSS.
Fondos en CSS. Fuentes y tipografías. 
Estilos para textos y listas. Íconos ---------------------------------------------------*/

/* Se incorporó en el index.html los links para referenciar fuente externa. */
/* Se agregó la etiqueta <link> que se utiliza para especificar el ícono
(favicon) que se muestra en la pestaña del navegador o en la barra de direcciones */

body{
  background-color: var(--bg-color);
  font-family: 'Nunito', sans-serif;
}

/* Estilo que se usrá desde js para que al recorrer la página 
el encabezado cambie de color */
.scrolled{
  background-color: var(--third-color);
}


/* 
CSS 3 – PLAN DE ESTUDIOS: Modelo de caja y 
posicionamiento. Modelo de caja y propiedades.
Posicionamiento y visualización.  */

/* Estilo al encabezado, agregar estilos por el selector de clase:
color de fondo, color fuente, posición del 
encabezado, ancho y z-index -------------------------------------------*/
.header{
  background-color: transparent;
  color:#7a7a7a; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;}

  .header{
      background-color:#7d0dbec2;
      color:#ffffff;
      height: 7vh;
      position:sticky;
      top: 0;
      z-index:10;
  
}




/* CSS 4 - Selectores avanzados y Animaciones. Selectores avanzados. 
Animaciones con CSS. Incorporación de transformaciones y transiciones
a elementos. Introducción Responsive Web Design.  --------------------------------*/
#logo a{
  color: white;
  text-decoration: none;
}

/* Al pasar el cursor sobre el elemento #logo, se activa una
animación que produce un efecto visual de sacudida y giro
repetitivo, mejorando la interacción visual cuando se interactúa con ese elemento. */
#logo:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h2{
      font-size: 3vw;
  }
  .login-text{
      display: none;
  }
  .logo-text{
      display: none;
  }
  #banner{
      height: 400px;
  }
  #search{
      height: 200px;
  }
  .container{
      max-width: 720px;
  }
  .card-banner{
      padding: 0px 75px;
  }
      
}


/* CELULARES */
@media screen and (max-width: 767px) {
  h2{
      font-size: 3vw;
  }

  .h2-subtitle{
      font-size: 5vw;
  }
  .login-text{
      display: none;
  }
  .logo-text{
      display: none;
  }
  #banner{
      height: 300px;
  }
  #search{
      height: 200px;
  }
  .container{
      max-width: 420px;
  }
  .card-banner{
      padding: 0px 50px;
  }

  .btn-cac{
      font-size: 1vh;
  }

}


/* Clase Nº6:PLAN DE ESTUDIOS: Grid. Implementación
de Grid. Maquetado con Flex y Grid. */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;   
  padding: 0px 50px;
}

.nav-links{
  display: flex;
  gap:30px;
  list-style: none;
}

/* Centra el texto que info sobre películas 
y series ilimitadas */
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
} 

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-input-color); 
} 
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--third-color); 
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--third-bis-color); 
}


.d-form{
  width: 100%;
  margin-bottom: 20px;
}

.d-iframe{
  width: 100%;
} 

.more-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
  color:var(--secondary-color);
}

#footer {
  align-items: center;
  background-color: var(--third-color);
  display: flex;
  height: 100px;
  width: 100%;
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h2{
      font-size: 3vw;
  }
  .login-text{
      display: none;
  }
  .logo-text{
      display: none;
  }
  #banner{
      height: 400px;
  }
  #search{
      height: 200px;
  }
  .container{
      max-width: 720px;
  }
  .card-banner{
      padding: 0px 75px;
  }
      
  #footer {
      flex-direction: column;
      align-items: center;
      justify-content: center;

  }
  }